<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jok</title>
</head>
<body>
 

    <script>
    function jok() {
        document.write('<iframe frameborder="0" scrolling="no" src="https://api.codebazan.ir/jok/"></iframe>');
        }
    </script>
    <fieldset style="background-color: rgb(121, 169, 236) ;" >
    <legend>
    <font face="Tahoma"> جوک های تصادفی </font>
    </legend><SCRIPT>jok()</SCRIPT>
    </fieldset> 
    
    
      
</body>
</html>